PROJECT = 'montilab-p'

process {
  executor = 'local'
}

params {

  indir  = "/restricted/projectnb/necs/Zeyuan_Analysis/GWASpipeline/GWASpipeline/pipeline/data/"
  outdir = "/restricted/projectnb/necs/Zeyuan_Analysis/GWASpipeline/GWASpipeline/pipeline/results"

  vcf    = "${params.indir}/toy_vcf.csv"
  pheno  = "${params.indir}/pheno_file_logistic.csv"
  snpset = "${params.indir}/snpset.txt"
  
  phenotypes ="outcome"
  covars     ="age,sex,PC1,PC2,PC3,PC4"
  model      ="logistic"
  test       ="Score"
  ref        ="hg19"

  group = "${params.outdir}/samples_by_group/*.txt"
}
