PROJECT = 'montilab-p'

process {
  executor = 'local'
}

params {

  indir  = "<YOUR PATH>/data/"
  outdir = "<YOUR PATH>/results"

  vcf    = "${params.indir}/toy_vcf.csv"
  pheno  = "${params.indir}/pheno_file_logistic.csv"
  snpset = "${params.indir}/snpset.txt"
  
  phenotypes ="outcome"
  covars     ="age,sex,PC1,PC2,PC3,PC4"
  model      ="logistic"
  test       ="Score"
  ref        ="hg19"
}
