PROJECT = 'montilab-p'

process {
  executor = 'local'
}

params {

  indir  = "/restricted/projectnb/necs/Zeyuan_Analysis/GWASpipeline/GWASpipeline/pipeline/data/"
  outdir = "/restricted/projectnb/necs/Zeyuan_Analysis/GWASpipeline/GWASpipeline/pipeline/results"

  vcf    = "${params.indir}/toy_vcf.csv"
  
}
